#linear{    height: 40px;
    background: linear-gradient(0deg, rgb(249 249 249 / 0%) 0%, rgb(91 161 195 / 0%) 4%, #0d4965 );}
/* Szociális inézmények */
#valaszto { margin: 5px;}
#valaszto p{ color: gold;
    font-size: x-large;
    margin: 15px;
    text-shadow: 1px 1px 5px black;} 
#almenuk div, #almenukkicsi div{
    color: white;
    font-size: large;
    text-decoration: overline;
    text-shadow: 1px 1px 5px black;
    display: grid;
    justify-items: center;
}
#almenukkicsi { margin-top: -15px;}
#almenukkicsi div{font-size:medium; justify-items:end; margin:-15px auto 40px auto;}
#almenukkicsi img { width: 90%;}     
#almenuk {display: flex; margin: -3% auto 1% auto;}
#menuikon {display:flex; align-items: flex-start; width: 100%;}
#valaszto img {
     width: 6%;
     height: 100%;
     border-radius: 50px; 
     border: rgb(255, 255, 255) 2px solid; 
     border-radius: 100px;
     box-shadow: rgb(255, 255, 255) 0px 0px 10px 1px;}

 #isknepk #valaszto img, #tagozatok #valaszto img, #terapiak #valaszto img { box-shadow: rgb(255, 0, 0) 0px 0px 10px 3px; background-color: rgba(255, 0, 0, 0.54); }
 #szocik #valaszto img, #tamopk #valaszto img, #fejfogk #valaszto img { box-shadow: rgb(255, 225, 0) 0px 0px 10px 3px; background-color: rgba(225, 255, 0, 0.54); }
 #csoportok img, #iskolak img, #konyvtar img { box-shadow: rgb(81, 255, 0) 0px 0px 10px 3px; background-color: rgba(119, 255, 0, 0.54);}

#szocik, #tamopk, #fejfogk, #isknepk, #tagozatok, #terapiak, #csoportok, #iskolak, #konyvtar {margin-top: -5px; display: none;}

#osztott {display: grid ;grid-template-columns: 70% 30%; margin-bottom: -100px; font-size: smaller;}
#osztott #kozben {margin: 10px; text-align: justify;}

#almenuk img {cursor: pointer;width: 30%; border: 2px solid white; border-radius: 45px; transition: 0.5s;}
    #almenuk img:hover{box-shadow: rgb(255, 217, 0) 0px 0px 20px 5px; width: 35%; border: gold 2px solid;}
   
#tamopkriszt, #tamopfejfog, #isknephagy{display: grid;
    margin: 50px;
    grid-column-gap: 30px;
   grid-template-columns: 70% 30%; }

   #csoporterz, #iskerz, #konyerz{display: flex; flex-direction: column; margin-top: -20px;}

.alcikk, #alcikktart3 {display: none;
     margin: 50px;
     grid-column-gap: 30px;
    grid-template-columns: 70% 30%;
    background: white;
    border-left: gold 5px solid;
    padding: 10px;
}
#alcikktart3 { grid-template-columns: 100%;}

.ter_kep{
    text-align: center;
}

.content ul {
    color: black;
    font-style: italic;
   margin-left: 10%;
}
.content li {margin: 5px auto}

#tagozatok #almenuk {grid-template-columns: 50% 50%; }


#almenuk p {text-align: center; height: 60px;}

.kijelolt{box-shadow: rgb(255, 217, 0) 0px 0px 20px 5px;}

.belso_tart{display: none; text-align:justify; color: black; text-shadow: none;}
#pszitart, #ertaktart, #fejnevtart {grid-template-columns: 80% 20%; transition: 0.5s;}

#cimp{
    color:rgb(18, 85, 116);
    margin: 15px;
    font-weight: 300;
    font-style: italic;
}
#alp{margin: 40px;}

#el{
    margin-right: 35px;
    color: rgb(54, 158, 255);
    text-align: right;
    }

#kozben {text-align: center; 
    padding-bottom: 80px; 
    color: gold; 
    text-shadow: -2px 1px 13px black;    
    margin: auto 150px;
}

.listakurzor li { padding: 2px; color: #040eff; cursor: pointer;}
.belso_tart p { margin: 20px 4px} 

    #kep, #kep2 {display: none;     
        border-bottom-left-radius: 50px;
        margin-right: -15px;
        display: none;
        border: rgb(252, 227, 3) 5px solid;
    margin-top: 5px;}
    #al-al{
        display: flex;
    }

    .kephely_5, .kephely_6, #kephely_4{    
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: center;}

        .nagyikon p{text-align: center;}
        #eler p { font-style: normal; color: rgb(0, 58, 204); font-weight: bold;}
        #eler{width: fit-content;
            box-shadow: rgb(96, 89, 0) -5px -0px 10px 0px;
            padding: 2%;
            font-style: italic;
            background-color: rgb(255, 255, 255);            
            color: rgb(0, 0, 0);
            display: grid; margin: 15px 0px 15px auto;
        border-right: rgb(0, 0, 0) 2px solid;
        border-top: rgb(0, 0, 0) 4px solid;
        text-shadow: rgba(55, 55, 55, 0.782) 2px 2px 3px;
    border-radius: 25px;}

    #eler a:link {color: rgb(39, 86, 255); padding: 2px; }
           
    #f1, #f2 {font-size: 0%; transition: 1s;width: 0%; }
    #feladatok, #feladatok1{color:white ; text-align: center; cursor: pointer;}

    #osztott #kozben {padding: 0px;}

    @media screen and (min-width:201px) and (max-width:1037px){
/* Media */
            #alcikk, .alcikk {grid-template-columns: 100%}
            .alcikk, #alcikktart3{margin: 5px;}
            #konyvtar .kisikon { margin-top:74px ;}
            #almenuk p {font-size: small;}
            #almenuk div { text-decoration: none; margin: 0px 2px ;}
            #almenuk img {width: 85%; margin-bottom: 2%;}
            #almenukkicsi #kep, #almenukkicsi #kep2 {width: 0%; margin: 0; border: none;}
            #almenukkicsi img{ width: 70%;}

            #tamopkriszt, #tamopfejfog, #isknephagy{
                display: grid;
                margin: 5px;
                grid-template-columns: repeat(1,100%);}

            #kozben{ margin: auto 15px; font-size: small;}
            #terapiak #almenuk{ display: grid; grid-template-columns: repeat(4,25%);}
            #terapiak #almenuk img { width: 80%; margin-top: -0px;}
            #terapiak #kozben { font-size: smaller;}
            #el{ display: grid; grid-template-columns: repeat(2,50%); margin: 10% auto;}
            
            #tamopkriszt, #tamopfejfog, #isknephagy, #kriszt,#osztott {grid-template-columns: 100%; }
            #pszitart, #ertaktart, #fejnevtart, #tanaktart {grid-template-columns: 100%}
            #el { margin: auto 0px;grid-template-columns: 100%; font-size: smaller;}
            #tagozatok #almenuk{display: grid;}       
            .kephely_5 img,.kephely_6 img{width: 100%;}
            #alp{margin: 5px;}
        }

       


        